## Часть 1: Введение в Pandas

Pandas - это библиотека Python для работы с данными. Она предоставляет мощные инструменты для анализа и манипуляции данными.

### Установка Pandas

Для начала убедитесь, что у вас установлена библиотека Pandas. Если ее нет, установите ее с помощью команды:

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

## Импорт библиотеки
Давайте начнем с импорта библиотеки Pandas:

In [2]:
import pandas as pd

## Часть 2: Работа с данными
### Чтение данных
Мы будем использовать датасет Titanic. Давайте прочитаем данные из CSV файла.

In [5]:
# Чтение данных из файла 'titanic.csv'
# Используйте метод pd.read_csv()
# write your code here

df = pd.read_csv('titanic.csv')

### Предпросмотр данных
Для первого ознакомления с данными давайте выведем первые несколько строк.

In [6]:
# Вывод первых 5 строк данных
# Используйте метод .head()
# write your code here

print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

### Информация о данных
Чтобы получить общую информацию о данных, воспользуйтесь методом .info().

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### Работа с NaN
Часто данные содержат пропущенные значения, которые представляются как NaN (Not a Number). Pandas предоставляет удобные методы для работы с ними.

Проверка на наличие NaN. Методы fillna и dropna возвращают новые Dataframe, проверьте нет ли в них NaN

In [8]:
# Проверка на наличие NaN в DataFrame
# Используйте метод .isna()
# write your code here

nan_check = df.isna()
print(nan_check.head())

   PassengerId  Survived  Pclass   Name    Sex    Age  SibSp  Parch  Ticket  \
0        False     False   False  False  False  False  False  False   False
1        False     False   False  False  False  False  False  False   False
2        False     False   False  False  False  False  False  False   False
3        False     False   False  False  False  False  False  False   False
4        False     False   False  False  False  False  False  False   False

    Fare  Cabin  Embarked
0  False   True     False
1  False  False     False
2  False   True     False
3  False  False     False
4  False   True     False

Заполнение NaN

In [9]:
# Заполнение NaN определенным значением (например, нулем)
# Используйте метод .fillna()
# write your code here

df_filled = df.fillna(0)
print(df_filled.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500     0        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250     0        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500     0        S

Удаление строк с NaN

In [10]:
# Удаление строк, содержащих NaN
# Используйте метод .dropna()
# write your code here

df_cleaned = df.dropna()
print(df_cleaned.head())

    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
10           11         1       3
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
10      1   PP 9549  16.7000    G6        S
11      0    113783  26.5500  C103        S

## Часть 3: Обработка DataFrame
### Выбор данных
Pandas позволяет выбирать данные по индексам, меткам столбцов и условиям.

In [14]:
# Выбор столбца по метке
# Используйте синтаксис DataFrame['название_столбца']
# write your code here
age_column = df['Age']
print(age_column.head())
print()

# Выбор нескольких столбцов
# Используйте синтаксис DataFrame[['столбец_1', 'столбец_2']]
# write your code here
age_sex_columns = df[['Age', 'Sex']]
print(age_sex_columns.head())
print()

# Выбор строк по индексу
# Используйте метод .loc[]
# write your code here
row_0 = df.loc[0]
print(row_0)
print()

# Выбор строк и столбцов по условию
# Используя логические операции, выберите мужчин старше 30
# write your code here
men_over_30 = df[(df['Sex'] == 'male') & (df['Age'] > 30)]
print(men_over_30.head())

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

    Age     Sex
0  22.0    male
1  38.0  female
2  26.0  female
3  35.0  female
4  35.0    male

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

    PassengerId  Survived  Pclass                         Name   Sex   Age  \
4             5         0       3     Allen, Mr. William Henry  male  35.0
6             7         0       1      McCarthy, Mr. Timothy J  male  54.0
13           14         0       3  Andersson, Mr. Anders Johan  male  39.0
20           21         0       2         Fynney, Mr. Joseph J  male  35.0
21           22         1       2        Beesley, Mr. Lawrence  male  34.0

    SibSp  Parch  Ticket     Fare Cabin Embarked
4       0      0  373450   8.0500   NaN        S
6       0      0   17463  51.8625   E46        S
13      1      5  347082  31.2750   NaN        S
20      0      0  239865  26.0000   NaN        S
21      0      0  248698  13.0000   D56        S

### Сортировка данных
Сортировка данных по значениям столбцов.

In [15]:
# Сортировка данных по столбцу 'столбец_1' по возрастанию
# Используйте метод .sort_values()
# write your code here
sorted_df = df.sort_values(by='Age')
print(sorted_df.head())

     PassengerId  Survived  Pclass                             Name     Sex  \
803          804         1       3  Thomas, Master. Assad Alexander    male
755          756         1       2        Hamalainen, Master. Viljo    male
644          645         1       3           Baclini, Miss. Eugenie  female
469          470         1       3    Baclini, Miss. Helene Barbara  female
78            79         1       2    Caldwell, Master. Alden Gates    male

      Age  SibSp  Parch  Ticket     Fare Cabin Embarked
803  0.42      0      1    2625   8.5167   NaN        C
755  0.67      1      1  250649  14.5000   NaN        S
644  0.75      2      1    2666  19.2583   NaN        C
469  0.75      2      1    2666  19.2583   NaN        C
78   0.83      0      2  248738  29.0000   NaN        S

### Группировка данных
Pandas также позволяет группировать данные и выполнять агрегирующие операции.

In [16]:
# Найдите долю выживших среди всех PClass
# Используйте метод .groupby()
# write your code here
survival_rate_by_class = df.groupby('Pclass')['Survived'].mean()
print(survival_rate_by_class)

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

## Часть 4: Задания для практики
Прочитайте данные из файла 'titanic.csv'.
Проверьте, есть ли пропущенные значения в данных и заполните их нулями.
Выведите первые 10 строк данных.
Выберите только те строки, где значение в столбце 'Age' больше 30.
Отсортируйте данные по столбцу 'Fare' в порядке убывания.
Сгруппируйте данные по столбцу 'Pclass' и вычислите средний возраст ('Age') для каждого класса.

In [19]:
df = pd.read_csv('titanic.csv')

df_filled = df.fillna(0)

print(df_filled.head(10))

df_age_above_30 = df_filled[df_filled['Age'] > 30]

df_sorted_by_fare = df_age_above_30.sort_values(by='Fare', ascending=False)

print(df_sorted_by_fare.head(10))

average_age_by_class = df_filled.groupby('Pclass')['Age'].mean()

print(average_age_by_class)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   0.0      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500     0        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250     0        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500     0        S
5      0            330877   8.4583     0        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750     0        S
8      2            347742  11.1333     0        S
9      0            237736  30.0708     0        C
     PassengerId  Survived  Pclass  \
258          259         1       1
679          680         1       1
737          738         1       1
438          439         0       1
299          300         1       1
716          717         1       1
380          381         1       1
779          780         1       1
856          857         1       1
318          319         1       1

                                                  Name     Sex   Age  SibSp  \
258                                   Ward, Miss. Anna  female  35.0      0
679                 Cardeza, Mr. Thomas Drake Martinez    male  36.0      0
737                             Lesurer, Mr. Gustave J    male  35.0      0
438                                  Fortune, Mr. Mark    male  64.0      1
299    Baxter, Mrs. James (Helene DeLaudeniere Chaput)  female  50.0      0
716                      Endres, Miss. Caroline Louise  female  38.0      0
380                              Bidois, Miss. Rosalie  female  42.0      0
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  female  43.0      0
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.0      1
318                           Wick, Miss. Mary Natalie  female  31.0      0

     Parch    Ticket      Fare        Cabin Embarked
258      0  PC 17755  512.3292            0        C
679      1  PC 17755  512.3292  B51 B53 B55        C
737      0  PC 17755  512.3292         B101        C
438      4     19950  263.0000  C23 C25 C27        S
299      1  PC 17558  247.5208      B58 B60        C
716      0  PC 17757  227.5250          C45        C
380      0  PC 17757  227.5250            0        C
779      1     24160  211.3375           B3        S
856      1     36928  164.8667            0        S
318      2     36928  164.8667           C7        S
Pclass
1    32.923241
2    28.091467
3    18.177026
Name: Age, dtype: float64